.map {
  width: 100vw;
  height: 100vh;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  /*Position inside overlay*/
  top: 0;
  left: 0;
}
